<%- include ('./base/header.ejs') %>

    <div class="container my-3">
        <div class="alert bg-warning">
            <h4 class="text-center">All Records</h4>
        </div>
    </div>

    <div class="container">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                <% if (results) { %>

                    <% for(var i=0; i< results.length; i++){ %>
                        <tr>
                            <td>
                                <%= results[i].name %>
                            </td>
                            <td>
                                <%= results[i].city %>
                            </td>
                            <td>
                                <%= results[i].email %>
                            </td>
                            <td>
                                <%= results[i].contact %>
                            </td>
                            <td>
                                <a href="/edit/<%= results[i]._id %>" class="btn btn-warning w-75">Edit</a>
                            </td>
                            <td>
                                <form action="/delete/<%= results[i]._id %>" method="get">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                </form>
                            </td>
                        </tr>
                        <% } %>
                            <% } %>
            </tbody>
        </table>
    </div>

    <%- include ('./base/footer.ejs') %>